#content {
	margin: auto;
	width: 80%;
	padding-bottom: 20px;
	padding-top: 20px;
	font-size: medium;
}

#map-title {
	text-transform: uppercase; 
	font-family: serif;
	font-size: xx-large;
	/*padding-left: 20px;*/
	padding-bottom: 0px
}

#map-container {
	margin: auto;	
	width: 90%;
	min-width: 1200px;
	/*padding-top: 0px;*/
	/*padding-left: 20px;*/
}

#mapid { 
	/*border: solid 1px gray;*/
	width: 75%;
	height: 500px;
	display:inline-block;
}
#sidebar {
	width: 20%;
	height: 500px;
	vertical-align: top;
	display: inline-block;
	margin-right: 0px;
	margin-left: 20px;

}
#sidebar-title{
	font-family:sans-serif;
	font-size: x-large;
	margin-bottom: 10px;
	text-align: center;
}

#rank-list{
	font-family: serif;
	font-size: x-large;
	text-align: left;

}

#sidebar .col-sm {
	width: 90%;
	height: 500px;
	/*margin-right: 20px;*/
	padding-left: 20px;
	border: solid 1px gray;
}

#popup_title {
	text-transform: uppercase;
	font-family: sans-serif;
	font-size: medium;

}